<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css" type="text/css"/>
  <title>Document</title>
</head>
<body>
  <h1>Danh sách các cong ty</h1>
  <form id="create" action="/" method="post" enctype="multipart/form-data"> 
    <input type="text" name="ma" placeholder="Nhập ma"/>
    <input type="text" name="ten" placeholder="Nhập tên công ty"/>
    <input type="text" name="url" placeholder="Nhập URL"/>
    <input type="submit" value="Submit"/>
  </form>
  <table border="1">
    <tr>
      <th>Xóa</th>
      <th>Mã</th>
      <th>Tên Công Ty</th>
      <th>URL</th>
    </tr>
  
  
    <%for(let  i = 0; i < datas.length; i++){%>
      <tr>
      
      <td><a href="/delete/<%=datas[i].ma%>">Xóa</a></td>
      <td><%= datas[i].ma%></td>
      <td><a href="/products/<%= datas[i].ma%>"><%= datas[i].ten%></a></td>
      <td><img src="<%= datas[i].url%>"/></td>
      
    </tr>
    <%}%>
  </table>
</body>
</html>